.section-2 {
  margin-top: 100px;
}
.section-2__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}
.section-2__list-item {
  display: flex;
  padding: 10px 22px 10px 17px;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  background: #dff;
}
.section-2__list-item p {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width:767px) {
    .section-2__list-item{
        width: 179px;
    }
    .section-2__list{
        gap: 20px;
    }
}
